<article>
    <a href="{{url}}">
        <div>
            <h3>{{title}}</h3>
            {{#if excerpt}}
                <p>{{excerpt}}</p>
            {{/if}}
            <footer>
                <span>By {{authors}}</span>
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMM YYYY"}}</time>
            </footer>
        </div>
    </a>
</article>
