<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <title>{{meta_title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}">

    {{ghost_head}}
</head>
<body class="{{body_class}}">

<div class="gh-viewport">
    {{> "components/navigation"}}
    {{{body}}}
    {{> "components/footer"}}
</div>

<script src="{{asset "built/main.js"}}"></script>
{{ghost_foot}}

</body>
</html>
