{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{#post}}

<main>
    <article>
        <header>
            <h1>{{title}}</h1>
            {{#if custom_excerpt}}
                <p>{{custom_excerpt}}</p>
            {{/if}}
            <div>
                <span>By {{authors}}</span>
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMM YYYY"}}</time>
            </div>
        </header>

        <section>
            {{content}}
        </section>
    </article>
</main>

{{/post}}
